<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>brand</title>
</head>
<body>

<div>
    {% if flag %}

        <h2>Информация о моделях {{ brand }}  </h2>
        <div>

                {% for model in models %}

                    <h3><a href="{% url 'detail-car' model.cars_id.brand model.model_car %}">{{ model.model_car }}</a> - {{ model.type_car }} - {{ model.horse_power }} - {{ model.engine_capacity }} - {{ model.gearbox }} - {{ model.fuel_grade }} - {{ model.year_release }}</h3>


                {% endfor %}


        </div>
    {% else %}
        <h2>Список всех брендов автомобилей</h2>
        <ul>
            {% for brand_info in unique_brands %}
                <li><a href="{% url 'brand-detail' brand=brand_info.brand %}">{{ brand_info.brand }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

</body>
</html>
